
<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1>ポケモンカタログ</h1>

<% @products.each do |product| %>
	<div class="entry">
		<%= image_tag(product.image_url) %>
		<h3><%= product.title %></h3>
		<h4 style="margin-left: 100px;font-family: Lucida Grande, Geneva, Verdana, Arial"><%= sanitize(product.description) %></h4>
		<div class="price_line">
			<span class="price"><%= number_to_currency(product.price, unit: "&yen")%></span>
			<%= button_to 'カートに入れる', line_items_path(product_id: product),
											remote: true  %>
		</div>
	</div>
<% end %>
